$blue: #0057a4;
$dark-blue: #0000fe;
$color-secondary: #0a1128;
$light-blue: #45aeff;
$lightest-blue: #ccdee8;
$slate: #5897fb;
$grey: #2e3c40;
$light-grey: #627084;
$white: #fff;

$defaultZindex: 10;
